<!-- <p>login works!</p> 
<form [formGroup]="loginFrom">
    <div class="form-group">
        <label>UserName:</label>
        <input formControlName="user" type="text" name="user" placeholder="userName"><br>
        <label>Password:</label>
        <input formControlName="passWord" type="password" name="Password" placeholder="password">
    </div>
    <button type='submit' (click)="loginProcess(loginFrom.value)">login</button>
</form> -->
<div class="">
    <button (click)="logIn()">Login</button>
  
    
</div>